@use "tailwindcss";
// TODO: do I need this?
// @plugin '@tailwindcss/typography';

/* Generic */
html {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	overflow-wrap: break-word;
}

body {
	background: #3e3e42;
	color: white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0;
}

#app {
	width: 100%;
	display: flex;
}

main {
	overflow-y: scroll;
	margin-top: 1rem;
	padding-bottom: 5rem;
}

main > :not(.full-width) {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

button,
a {
	text-decoration: none;
	font-weight: bold;
	color: #007acc;
}

.button-like {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button-like,
button {
	border-width: 0;
	flex-grow: 1;
	font-weight: bold;
	// color: white;
	padding: 0.5rem;
	// background: grey;
}

a:hover,
.button-like:hover,
button:hover {
	cursor: pointer;
}

button:disabled {
	font-weight: normal;
	cursor: initial;
}

.flex-row {
	display: flex;
	justify-content: space-between;
}

.flex-start {
	justify-content: start;
}

.flex-end {
	justify-content: end;
}

.shrink-children > * {
	flex-grow: 0;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	flex-direction: column;
}

.button-like {
	text-align: center;
	font-family: sans-serif;
}

.hidden {
	display: none;
}

.p0 {
	padding: 0;
}

.p0_5 {
	padding: 0.5rem;
}

.p1 {
	padding: 1rem;
}

.m1 {
	margin: 1rem;
}

.pr1 {
	padding-right: 1rem;
}

.mr1 {
	margin-right: 1rem;
}

.mb1 {
	margin-bottom: 1rem;
}

.ml0_5 {
	margin-left: 0.5rem;
}

.mb0_5 {
	margin-bottom: 0.5rem;
}

.mt1 {
	margin-top: 1rem;
}

.black {
	color: white;
	background: black;
}

.green {
	color: white;
	background: #338356;
}

.green-text {
	color: #338356;
}

.grey-text {
	color: grey;
}

.white-text {
	color: white;
}

.blue {
	color: white;
	background: #007acc;
}

.purple {
	color: white;
	background: #d51ced;
}

.pink {
	color: white;
	background: #fa8072;
}

.red {
	color: white;
	background: red;
}

.right {
	text-align: right;
}

.center {
	align-items: center;
	justify-content: center;
}

.end {
	align-items: end;
}

.full-width {
	display: flex;
	width: 100%;
}

.grow {
	flex-grow: 1;
}

.shrink {
	flex-grow: 0;
}

.no-margin {
	margin: 0;
}

/* Specific */

.pb5 {
	padding-bottom: 5rem;
}

.list > .selected {
	background-color: #4f0000 !important;
}

.list input:checked + * {
	text-decoration: line-through;
	opacity: 0.5;
}

.list > * {
	display: flex;
	gap: 10px;
	padding: 0.5rem;
	overflow: hidden;
}

.list > *:nth-child(even) {
	background-color: #1a1a1a;
}

.list > *:nth-child(odd) {
	background-color: black;
}

.focus-pane header {
	position: sticky;
	z-index: 100;
	top: 0;
	background-color: black;
}

.resize-handle {
	width: 30px;
	height: 10px;
	position: absolute;
	background: #909090;
	cursor: pointer;
}

a.selected,
button.selected {
	background-color: lightgreen;
	color: black;
}

label {
	line-height: 2rem;
}

label > div {
	overflow-x: scroll;
}

label.selected {
	background: #310f0b !important;
}

.quantity-control {
	margin: 0.2rem;
}

.rounded-button.selected {
	color: black;
	background: white;
}

.failed,
.unknown {
	background-color: red;
}

.fade-out {
	transition: opacity 3s ease-in-out;
	opacity: 0.2;
}

.wrap {
	flex-wrap: wrap;
}

.vertically-centered {
	display: flex;
	align-items: center;
}

// TODO: what should these values be?
h1 {
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	line-height: 32px;
}

h2 {
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	line-height: 32px;
}

.gap0_5 {
	gap: 0.5rem;
}

.rgap0_5 {
	row-gap: 0.5rem;
}

.gap1 {
	gap: 1rem;
}

.gap2 {
	gap: 1rem;
}

.mw0 {
	min-width: 0;
}

.mla {
	margin-left: auto;
}

.warning {
	color: #ff7e7e;
}

.transition-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}

hr {
	color: white;
}

.selectable:hover {
	cursor: pointer;
}

.card {
	background-color: #292929;
	border-radius: 10px;
	padding: 1rem;
}

.pl1 {
	padding-left: 1rem;
}

input:not([type="checkbox"]) {
	color: black !important;
	background-color: white !important;
}

.amount {
	color: #00ff7c;
}

.temperature {
	color: #ff7e7e;
}

.ingredient {
	color: lightblue;
	background: #6c0047;
	padding: 0.2rem;
	border-radius: 1rem;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
}

.ingredient.selected {
	background: #006786 !important;
}

.rounded {
	border-radius: 25px;
}

.error {
	color: white !important;
	background: red !important;
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}
}
